<div class="column">
<section class="hero is-dark ">
  <div class="hero-body ">
    <div class="container">
      <h1 class="title is-capitalized">
        <%= @user.name %>
      </h1>
      <h2 class="subtitle is-lowercase">
        <%= @user.email%>
      </h2>
      <%= render 'follow_stats' %>
      <%= render 'follow_form' if user_signed_in? %>
    </div>
  </div>
</section>
<br />
  <p class="notice has-text-success"><%= flash[:notice] %></p>
<% @user.posts.each do |post| %>
    <div class="columns">
      <div class="column">
        <h1 class="title"><%= post.title %></h1>
        <h2 class="subtitle"><%= post.content %>
        </h2>
      </div>
    <div class="column">
  <div class="has-text-right"><small>Posted <%= time_ago_in_words(post.created_at) %> ago</small>
  </div>
    </div>
  </div>
<% end %>   
</div>


